
.python_box > .codehilite{
	border-color:#2196f3;
	border-style:solid;
	border-width: thin;
	background-color:white;
}

.md-typeset .python_box code{
	border-color:#2196f3;
	border-style:solid;
	border-width: thin;
    background-color:white;
}